@media only screen and (max-width: 2000px) {

.ContainerDisplay {
    display: flex;
    align-items: center;
    border: 2px solid gray;
    border-radius: 10px;
    height: 100%;
    padding-left: 5px;
    flex-direction: row;
    font-size: 90%;
    width: 12vw;
}
.InnerContentDisplay {
    align-content: center;
}
.SolarWindDataDisplays {
    display: flex;
    flex-direction: row;
    font-size: inherit;
}

.source-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 34%;
    border-radius: 10px;
    border: 2px solid gray;
    background-color: transparent;
    font-size: inherit;
    color: #ffffff;
    cursor: pointer;
}
.SolarDataContent {
    display:flex;
    flex-direction: row;
    max-height: inherit;
}
}

@media only screen and (max-width: 1000px) {

.ContainerDisplay {
    display: flex;
    border: 2px solid gray;
    border-radius: 10px;
    height: inherit;
    padding-left: 5px;
    flex-direction: row;
    width: inherit;
}
.InnerContentDisplay {
    align-content: center;
    display: flex;
    flex-direction: row;
}
.SolarWindDataDisplays {
    display: flex;
    flex-direction: column;
    font-size: inherit;
    height: inherit;
}

.source-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: inherit;
    border-radius: 10px;
    border: 2px solid gray;
    background-color: transparent;
    font-size: inherit;
    color: #ffffff;
    cursor: pointer;
}
.SolarDataContent {
    display:flex;
    flex-direction: row;
}
.SolarWindContextImage {
    display: none;
}
}