.KpIndexDisplay {
    position: relative; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    font-family: 'Roboto'; 
    color: #ccc9dc;
    border: 2px solid gray;
    height: 33%;
    border-radius: 10px;
}
.StormLevel {
    position: relative; 
    padding-bottom: 10px;
}
.DataSource {
    position: relative;
    bottom: 10px;
    font-size: 16px;
    color: darkgray;
}