
.Buttons {
    display: flex;
    flex-direction: row;
    height: 4vh;
    background-color: #3f3b5180;
}
.LowerContent {
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    font-size: inherit;
    max-width: fit-content;
}
.LowerContentButton {
    height: 100%;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: 'Roboto';
    color: #ccc9dc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    font-size: inherit;
}
.ToggledContent {
    font-size: inherit;
    position: absolute;
    margin-left: 10vw;
    margin-top: 5vh;
}
