.KpIndexDisplay {
    position: relative; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    font-family: 'Roboto'; 
    color: #ccc9dc;
    border: 2px solid gray;
    height: 100%;
    border-radius: 10px;
    width: 20vw;
    margin-bottom: 0px;
    font-size: inherit;
}
.StormLevel {
    position: relative; 
    font-size: inherit;
}
.DataSource {
    position: relative;
    font-size: 16px;
    color: darkgray;
    font-size: inherit;
}
.KpIndexHeader {
    font-size: 1vw;
}
tspan {
  fill: rgba(255, 255, 255, 0.87);
  font-size: 1.8vw;
}