

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: aliceblue;
    width: 11vw;
}
.leva-c-kWgxhW-bCBHqk-fill-false {
    top: 20.5vh;
}