.AlertsDisplay {
    display: flex;
    width: inherit;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: 'Roboto';
    color: #ccc9dc;
    max-height: 10vh;
}
.TimeButton {
    max-height: inherit;
    max-width: 300px;
     min-width: 240px;
     border: 2px solid gray; 
     border-radius: 10px; 
     color: #ccc9dc; 
     background-color: transparent;
     font-size: 24px;
}
.Marquee {
    align-content: space-between;
}