.ContainerDisplay {
    display: flex;
    align-items: center;
    border: 2px solid gray;
    border-radius: 10px;
    height: 10vh;
    padding-left: 5px;
}
.InnerContentDisplay {
    align-content: center;
}
