.Content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: inherit;
    background-color: rgb(35, 35, 39);
    margin-left: 0px;
    margin-top: 0px;
    margin-right: -20px;
    font-family: 'Roboto';
    scale: auto;
}
.TitleAndData {
    height: 100%; 
    max-height: fit-content;
    min-width: 350px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    color: #ccc9dc;
    font-size: 36px;
    height: inherit;
}
.InnerContent {
    float: right;
    min-width: 50vw;
    margin-right: 0px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    align-self: auto;
    font-size: 32px;
}
.ContentCard {
    font-family: Roboto;
    height: 20%;
}

